.accueil {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
    gap: 25px;
}

.home-presentation,
.home-avis {
    background-color: #7e583aff;
    border: 3px solid #511d15ff;
    border-radius: 16px;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    margin: 20px;
}

.home-presentation h1 {
    color: #ffffff;
    font-weight: bold;
    padding: 30px;
}

.texte-presentation {
    padding: 0px;
    margin: 0px;
}

.home-presentation h2 {
    color: #ffffff;
    font-weight: bold;
}

.home-presentation h3 {
    color: #ffffff;
    font-weight: bold;
}

.home-presentation p {
    color: #ffffff;
    font-weight: medium;
}

.home-avis h2,
.home-avis h3 {
    color: #ffffff;
    font-weight: bold;
}

.card {
    color: #ffffff;
    font-weight: medium;
}
